#page.is-light {
  background-color: #DBD5C5;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.main {
  width: 50%;
}

.column.side {
  width: 25%;
}

p {
  color: #912802;
}
