#page.is-light {
  background-color: #DBD5C5;
}

#page {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.main {
  width: 50%;
}

.column.side {
  width: 25%;
}

p {
  color: #912802;
}
